[user]
	name = joey364
	email = 71462893+joey364@users.noreply.github.com
	signingkey = 6C48BBAB78B6BCDD
[core]
	autocrlf = false
	safecrlf = true
	editor = nvim
[alias]
  aa = add -A .
	co = checkout
  cob = checkout -b
	cm = commit -m 
  cms = commit -S -m 
  cp = cherry-pick
	nci = commit -a --allow-empty-message -m ''
	st = status
	br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t 
	dump = cat-file -p
	df = diff
  unstage = reset --soft HEAD*
  undo = reset HEAD-1
  rv = revert
  rl = reflog
  save = stash push
  pop = stash pop
  apply = stash apply

[init]
	defaultBranch = main
[color]
	ui = auto
[help]
	autocorrect = 1
